@bg_color:#F5CDAF;
.bg-wrap{background: url(../img/cryptoBear_bg.png) center no-repeat;
background-size: cover;-webkit-background-size: cover;
   .page-main{padding-bottom:50px;}

}

.p-container{
    width:1200px;margin:0 auto; padding-top: 120px;
    .page-title{font-size:72px; text-align: center; font-weight: normal;}
    .box-welcome{width:364px;height:408px; background:@bg_color; margin: 0 auto; padding-top: 80px;
    margin-top: 80px; text-align: center;
       -webkit-box-shadow: 0px 12px 12px 0px rgba(4, 0, 0, 0.1);
       -moz-box-shadow: 0px 12px 12px 0px rgba(4, 0, 0, 0.1);
       -ms-box-shadow: 0px 12px 12px 0px rgba(4, 0, 0, 0.1);
       box-shadow: 0px 12px 12px 0px rgba(4, 0, 0, 0.1);
       .borderRadius(5px,5px,5px,5px);
    }
    .pmess{font-size:16px;color:#333333; line-height: 30px; padding:30px 0;}
    .cb-icon{width:117px;height:202px; margin: 0 auto; background:url(../img/question_icon.png) center no-repeat;}

}
.cb-btn{display:block;margin: 0 auto;background-color:#DB7221; color:#000; text-align: center;}
.btn-buy{width:140px;height:54px; line-height: 54px;
   .borderRadius(5px,5px,5px,5px);font-size:18px;
}
.trans{background:rgba(0,0,0,.4);width:100%;height:100%;top:0px;right:0px; position: fixed;}
.cb-comfirmbox{width:783px;position: absolute;left:50%;margin-left:-392px; background:#F0F0F0;top:50%;margin-top:-100px;
    padding: 20px 0;
    -webkit-box-shadow: 0px 12px 12px 0px rgba(4, 0, 0, 0.1);
    -moz-box-shadow: 0px 12px 12px 0px rgba(4, 0, 0, 0.1);
    -ms-box-shadow: 0px 12px 12px 0px rgba(4, 0, 0, 0.1);
    box-shadow: 0px 12px 12px 0px rgba(4, 0, 0, 0.1);
    .borderRadius(5px,5px,5px,5px); overflow:hidden;
    p{font-size:16px;color:#333; text-align: center; padding: 5px 20px;}
    .p-title{padding-bottom: 10px;}
    .btnbox{padding-top: 12px;}
    .btn-sure{width:100px;height:40px;line-height: 40px;.borderRadius(5px,5px,5px,5px);}

    .btn-close{width:30px;height:30px;display: block; background: url(../img/cb_close.png) center no-repeat;
    position: absolute; right:10px;top:10px}
}


@media screen and(max-width:1240px){
    .p-container{width:80%;}
}